@import 'tailwindcss';
@tailwind utilities;

@theme {
  --font-oswald: 'Oswald', ui-sans-serif, system-ui, sans-serif;
  --font-lato: 'Lato', ui-sans-serif, system-ui, sans-serif;
  --default-font-family: var(--font-lato);

  /* Header scale */
  --text-h-xs: 0.75rem; /* 12px */
  --text-h-sm: 1rem; /* 16px */
  --text-h-base: 1.312rem; /* 21px */
  --text-h-lg: 1.75rem; /* 28px */
  --text-h-xl: 2.312rem; /* 37px */
  --text-h-2xl: 3.125rem; /* 50px */
  --text-h-3xl: 4.187rem; /* 67px */
  --text-h-4xl: 5.625rem; /* 90px */

  /* Body scale */
  --text-b-xs: 0.562rem; /* 9px */
  --text-b-sm: 0.75rem; /* 12px */
  --text-b-base: 1rem; /* 16px */
  --text-b-lg: 1.312rem; /* 21px */
  --text-b-xl: 1.75rem; /* 28px */

  --color-black: rgba(10, 10, 10, 1);
  --color-gray: rgba(129, 129, 129, 1);
}

body {
  background: var(--color-black);
  color: var(--color-white);
  font-family: var(--default-font-family);
  @apply min-h-svh lg:min-h-screen bg-black text-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-oswald);
}
